/* Importação das Fontes */
/* Anton */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url('../fonts/Anton/Anton-Regular.ttf') format('truetype');
}

/* Inclusive Sans */
@font-face {
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url('../fonts/Inclusive_Sans/InclusiveSans-VariableFont_wght.ttf') format('truetype');
}

/* Para o estilo itálico, com todos os pesos de 300 a 800 */
@font-face {
  font-family: 'Inclusive Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300 800;
  src: url('../fonts/Inclusive_Sans/InclusiveSans-Italic-VariableFont_wght.ttf') format('truetype');
}

/*----------*/

/*Criação de Variáveis CSS para cores*/
:root {
  --dark-gray: #262626;
  --faded-brown: #7a472c;
  --olive-green: #727040;
  --pastel-orange: #ffb97a;
  --pastel-grayish-orange: #d3b9a1;
  --light-orange: #efdece;
  --light-orange-light: #f5f1ed;
}

/* Configurações Iniciais */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inclusive Sans', sans-serif;
  background-color: var(--light-orange-light);
  color: var(--faded-brown);
}

::selection {
  background-color: var(--faded-brown);
  color: var(--light-orange);
}

/* Login */
.login-display {
  display: flex;
  text-align: center;
  justify-content: center;
}

.login-content h1 {
  font-family: "Anton";
  font-size: 40px;
  padding-bottom: 15px;
  padding-top: 180px;
}

#login-form {
  background-color: var(--light-orange);
  width: 350px;
  padding: 50px 25px;
  border-radius: 30px;
  border: 1px solid var(--faded-brown);
}

.email-login, .password-login {
  text-align: left;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  margin: 10px 0 10px 0;
  border: 1px solid var(--faded-brown);
  border-radius: 50px;
  font-family: "Inclusive Sans";
  color: var(--dark-gray);
  background-color: var(--light-orange-light);
}

#enter-button {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--faded-brown);
  background-color: var(--faded-brown);
  color: var(--light-orange-light);
  border-radius: 30px;
  width: 80%;
  font-family: "Inclusive Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

#enter-button:hover {
  background-color: var(--light-orange);
  color: var(--faded-brown);
}

#register-button {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--faded-brown);
  background-color: var(--light-orange);
  color: var(--faded-brown);
  border-radius: 30px;
  width: 80%;
  font-family: "Inclusive Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

#register-button:hover {
  background-color: var(--pastel-orange);
  color: var(--faded-brown);
}

/* Cadastrar */
.register-display {
  display: flex;
  text-align: center;
  justify-content: center;
}

.register-content h1 {
  font-family: "Anton";
  font-size: 40px;
  padding-bottom: 15px;
  padding-top: 100px;
}

#register-form {
  background-color: var(--light-orange);
  width: 350px;
  padding: 50px 25px;
  border-radius: 30px;
  border: 1px solid var(--faded-brown);
}

.name-register, .email-register, .date-register, .cep-register, .genero-register, .password-register {
  text-align: left;
}

#register-button-sql {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--faded-brown);
  background-color: var(--faded-brown);
  color: var(--light-orange);
  border-radius: 30px;
  width: 80%;
  font-family: "Inclusive Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

#register-button-sql:hover {
  background-color: var(--light-orange);
  color: var(--faded-brown);
}

.genero-register select {
  width: 100%;
  padding: 12px;
  margin: 10px 0 10px 0;
  font-family: "Inclusive Sans";
  border-radius: 30px;
  background-color: var(--light-orange-light);
  text-align: center;
  margin-top: 5px;
}