/* Importação das Fontes */
/* Anton */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url('../fonts/Anton/Anton-Regular.ttf') format('truetype');
}

/* Inclusive Sans */
@font-face {
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url('../fonts/Inclusive_Sans/InclusiveSans-VariableFont_wght.ttf') format('truetype');
}

/* Para o estilo itálico, com todos os pesos de 300 a 800 */
@font-face {
  font-family: 'Inclusive Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300 800;
  src: url('../fonts/Inclusive_Sans/InclusiveSans-Italic-VariableFont_wght.ttf') format('truetype');
}

/*----------*/

/*Criação de Variáveis CSS para cores*/
:root {
  --dark-gray: #262626;
  --faded-brown: #7a472c;
  --olive-green: #727040;
  --pastel-orange: #ffb97a;
  --pastel-grayish-orange: #d3b9a1;
  --light-orange: #efdece;
  --light-orange-light: #f5f1ed;
}

/* Configurações Iniciais */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inclusive Sans', sans-serif;
  background-color: var(--light-orange-light);
  color: var(--faded-brown);
}

main {
  display: flex;
  text-align: center;
  justify-content: center;
}

::selection {
  background-color: var(--faded-brown);
  color: var(--light-orange);
}

/* Login */
.login-display {
  display: flex;
  text-align: center;
  justify-content: center;
}

.login-content {
  padding-top: 120px;
  padding-bottom: 150px;
}


.login-content h1 {
  font-family: "Anton";
  font-size: 40px;
  padding-bottom: 15px;
}

#login-form {
  background-color: var(--light-orange);
  width: 350px;
  padding: 50px 25px;
  border-radius: 30px;
  border: 1px solid var(--faded-brown);
}

.email-login, .password-login {
  text-align: left;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  margin: 10px 0 10px 0;
  border: 1px solid var(--faded-brown);
  border-radius: 50px;
  font-family: "Inclusive Sans";
  color: var(--dark-gray);
  background-color: var(--light-orange-light);
}

#enter-button {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--faded-brown);
  background-color: var(--faded-brown);
  color: var(--light-orange-light);
  border-radius: 30px;
  width: 80%;
  font-family: "Inclusive Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

#enter-button:hover {
  background-color: var(--light-orange);
  color: var(--faded-brown);
}

#register-button {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--faded-brown);
  background-color: var(--light-orange);
  color: var(--faded-brown);
  border-radius: 30px;
  width: 80%;
  font-family: "Inclusive Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

#register-button:hover {
  background-color: var(--pastel-orange);
  color: var(--faded-brown);
}

/* Cadastrar */
.register-display {
  display: flex;
  text-align: center;
  justify-content: center;
}

.register-content {
  padding-top: 100px;
  padding-bottom: 150px;
}

.register-content h1 {
  font-family: "Anton";
  font-size: 40px;
  padding-bottom: 15px;
}

#register-form {
  background-color: var(--light-orange);
  width: 350px;
  padding: 50px 25px;
  border-radius: 30px;
  border: 1px solid var(--faded-brown);
}

.name-register, .email-register, .date-register, .cep-register, .genero-register, .password-register {
  text-align: left;
}

#register-button-sql {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--faded-brown);
  background-color: var(--faded-brown);
  color: var(--light-orange);
  border-radius: 30px;
  width: 80%;
  font-family: "Inclusive Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

#register-button-sql:hover {
  background-color: var(--light-orange);
  color: var(--faded-brown);
}

.genero-register select {
  width: 100%;
  padding: 12px;
  margin: 10px 0 10px 0;
  font-family: "Inclusive Sans";
  border-radius: 30px;
  background-color: var(--light-orange-light);
  text-align: center;
  margin-top: 5px;
}

/* Página de Administração */
.sub-header-admin h1 {
  font-family: "Anton";
  font-size: 36px;
  color: var(--faded-brown);
  text-align: left;
  margin-top: 20px;
}

.sub-header-admin p {
  font-family: "Inclusive Sans";
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
}

.categoria-receita {
  text-align: left;
  background-color: var(--light-orange);
  padding: 30px;
  border: 1px solid var(--faded-brown);
  border-radius: 30px;
  margin-bottom: 20px;
}

.admin-content {
  max-width: 940px;
  margin: 0 20px;
}

.admin-content h2 {
  font-family: "Anton";
  font-size: 30px;
  margin-bottom: 5px;
  display: block;
}

.admin-content input {
  width: 45%;
}

.admin-content button {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--faded-brown);
  background-color: var(--faded-brown);
  color: var(--light-orange-light);
  border-radius: 30px;
  width: 30%;
  font-family: "Inclusive Sans";
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-decoration: none;
  transition: all ease-in 0.2s;
}

.admin-content button:hover {
  background-color: var(--light-orange);
  color: var(--faded-brown);
}

.refeicao {
  text-align: left;
  background-color: var(--light-orange);
  padding: 30px;
  border: 1px solid var(--faded-brown);
  border-radius: 30px;
}

/* Página Inicial */
header {
  background-color: var(--light-orange);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.menu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -340px;
  width: 340px;
  background-color: var(--light-orange-light);
  border: 1px solid var(--faded-brown);
  border-radius: 0 30px 30px 0;
  height: 100%;
  transition: all ease-in 0.3s;
  z-index: 1
}

.side-menu-content {
  padding: 40px 25px;
}

.side-menu-content h4 {
  font-family: "Anton";
  font-size: 36px;
  margin-bottom: 20px;
}

.side-menu-content a {
  text-decoration: none;
  color: var(--faded-brown);
  font-family: "Inclusive Sans";
  font-weight: 700;
  background-color: var(--light-orange-light);
  border: 1px solid var(--faded-brown);
  border-radius: 30px;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: all ease-in 0.2s;
}

.side-menu-content a:hover {
  background-color: var(--light-orange);
  padding: 10px 40px;
  outline: 1px solid var(--faded-brown);
}

.header-content h1 {
  font-family: "Anton";
  font-size: 36px;
  justify-content: center;
  min-width: 286px;
  margin: 0 10px;
}

.search-container {
  display: flex;
  align-items: center;
  /* Faz o container da busca crescer para ocupar o espaço disponível */
  flex-grow: 1;
}

.header-content input[type="search"] {
  padding: 10px;
  width: 100%; /* Garante que o input possa crescer */
  border: 1px solid var(--faded-brown);
  border-radius: 20px;
  font-family: "Inclusive Sans";
  margin-right: 10px;
}

.header-content button {
  display: inline-block;
  padding: 8px 15px;
  border: 2px solid var(--faded-brown);
  background-color: var(--faded-brown);
  color: var(--light-orange-light);
  border-radius: 30px;
  font-family: "Inclusive Sans";
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: all ease-in 0.2s;
} 

.header-content button:hover {
  background-color: var(--light-orange);
  color: var(--faded-brown);
}

.menu-button img {
  padding: 10px;
  width: 50px;
  background-color: var(--light-orange-light);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border: 1px solid var(--faded-brown);
}

.menu-button img:hover {
  outline: 1px solid var(--faded-brown);
}

.main-content {
  max-width: 940px;
  margin: 0 20px;
}

.banner-best-recipes {
  cursor: pointer;
  max-width: 100%;
  background-color: var(--light-orange);
  margin: 30px 0;
  padding: 30px;
  border: 1px solid var(--faded-brown);
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.banner-best-recipes:hover {
  background-color: var(--pastel-grayish-orange);
  outline: 1px solid var(--faded-brown);
}

.banner-best-recipes h1 {
  font-family: "Anton";
  font-size: 95px;
  color: var(--faded-brown);
}

.banner-best-recipes h3 {
  font-family: "Anton";
  font-size: 39px;
  color: var(--olive-green);
}

.banner-best-recipes img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 200px;
  margin-top: 20px;
  border: 1px solid var(--faded-brown);
}

.categorias-receita-content h2 {
  text-align: left;
  font-family: "Anton";
  font-size: 40px;
  text-transform: uppercase;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 30px 0;
}

.categoria-card {
  cursor: pointer;
  background-color: var(--light-orange);
  height: 150px;
  border: 1px solid var(--faded-brown);
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  rotate: -10deg;
  transition: all 0.3s ease-in;
}

.categoria-card:hover {
  rotate: 0deg;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.categoria-card p {
  font-family: "Anton";
  font-size: 25px;
  text-align: left;
  float: left;
  text-transform: uppercase;
}

.categoria-card img {
  object-fit: cover;
  border: 1px solid var(--faded-brown);
  border-radius: 10px 20px 20px 10px;
  width: 45%;
  height: 100%;
}